<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1 style="text-align: center;color: blue">欢迎光临我的博客</h1>
    <hr>
    {% for post in posts %}
        <p style="font-family: 宋体;font-size: 16pt;font-weight: bold;text-align: center;">
            <a href="/post/{{ post.slug }}">
            {{ post.title }}
            </a>
        </p>
{#        <p style="font-family: 宋体;font-size: 10pt;letter-spacing: 1pt;text-align: center;">{{ post.body }}</p>#}
    {% endfor %}
    <hr>
    <h3 style="text-align: center;color: red">现在时间为：{{ now }}</h3>
</body>
</html>

<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 欢迎光临我的博客 {% endblock %}